<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         {% include "parciais/css.html" %}
    <title>App | {% block title%} Pagina inicial {% endblock %}</title>
</head>
<body>

    <a href="{% url 'atendimento:teste' %}">Pag 1</a>
    <a href="{% url 'atendimento:teste2' %}">Pag 2</a>

    <br>
    {% block content %}
        <h1>Estou na casa</h1>
    {% endblock content %}

</html>